
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/submit.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    align-content: center;
    font-family: 'Comfortaa', sans-serif;
    font-size: 30px;
    margin-top: 7px;
    margin-left: 60px;
}

.container {
    height: 50%;
    width: 50%;
    background-color: #d8eaeb;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    align-self: center;
    padding-left: 210px;
    height: 140px;
    margin-right: 70px;   
}