<!DOCTYPE html>
{%load static%}
<html>
<head>
    <title>Response</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/afterTicket.css">

</head>
<body>
    
    <h1>Thank you for providing your feedback!</h1>
    <img src="{% static 'images/blue-tick.png' %}" alt="green-tick">
    <h2>Your response has been successfully submitted!</h2>
</body>
</html>
