<!DOCTYPE html>
<html>
<head>
    <title>Report Item</title>
</head>
<body>
    <h1><u>Report</u></h1>
    <h2>Thank you for filling out the report! These were the details that were submitted: </h2>
    
    <h4><strong>Item name:</strong> {{ item.item_name }}</h4>
    <h4><strong>Catgeory:</strong> {{ item.category }}</h4>
    <h4><strong>Description:</strong> {{ item.description }}</h4>
    <h4><strong>Location found:</strong> {{ item.location_found }}</h4>
    <h4><strong>Image:</strong> {{ item.item_image }}</h4>

    <h3>Your report will help the Owner be reunited with their Item!</h3>

</body>
</html>