<!DOCTYPE html>
{%load static%}
<html>
<head>
    <title>Feedback Form</title>
    <link rel="stylesheet" type="text/css" href="../static/css/ticket.css">
</head>
<body>
    <div class="container">
        <h2>Feedback Form</h2>
        <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="name">Name (optional)</label> 
            <input type="text" id="name" name="name" placeholder="Type in your name">
            <br>
            
            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" placeholder="Feedback Subject" required>
            <br>

            <label for="issue">Description of Feedback:</label>
            <textarea id="issue" name="issue" rows="4" placeholder="Enter a detailed description of your feedback" required></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
